## The following requirements were added by pip --freeze:
Django==1.6.5
Pillow==2.5.1
South==1.0
coverage==3.7.1
flake8==2.2.2
mccabe==0.2.1
pep8==1.5.7
psycopg2==2.5.3
pyflakes==0.8.1
wsgiref==0.1.2
